.exercise-grid {
    margin: 0 auto;
    max-width: 568px;
    text-align: center;
}

.grid-cell {
    padding: 1px 0px;
    margin: 0.2em 0;
}

.grid-cell.grid-header {
    font-weight: bold;
    margin: 0.67em 0;
}

.header {
    text-align: center;
    text-transform: uppercase;
}

.header h1 {
    margin-bottom: 0.3em;
}

.subtitle {
    text-align: center;
    text-transform: uppercase;
}

.subtitle h2 {
    font-size: 1.1em;
    padding-bottom: 1em;
    font-weight: 600;
}